:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 200px;
  padding: 100px 200px;
}

mat-form-field {
  width: 100%;
}

.avatar-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
